In [31]:
skill = input("Enter your skill")
exp = int(input("Enter your experience"))
native = input("Enter native")
if skill == "Python" and exp in (1, 2) and native == "Chennai":
    if exp == 1:
         print("TCS");
    else:
        print("Wipro");
        
elif skill == "Java" and exp in (1, 2) and native in ("CBE", "Chennai"):
    if native == "CBE" and exp == 1:
        print("Cognizant");
    if native == "CBE" and exp == 2:
        print("Accenture");
    if native == "Chennai" and exp == 1:
        print("Trios");
    else:
        print("HCL");

else:
    print("No match found")

Enter your skill Java
Enter your experience 2
Enter native Chennai

HCL

In [49]:
skill = input("Enter your skill: ")
exp = int(input("Enter your experience: "))
native = input("Enter native: ")

if skill in ("Python", "Java") and exp in (1, 2) and native in ("Chennai", "Cbe"):
    if skill == "Python" and native == "Chennai":
        if exp == 1:
            print("TCS")
        else:
            print("Wipro")

    elif skill == "Java" and native == "Cbe":
        if exp == 1:
            print("Cognizant")
        else:
            print("Accenture");

    elif skill == "Java" and native == "Chennai":
        if exp == 1:
            print("Trios");
        else:
            print("HCL");
else:
    print("No match found");

Enter your skill:  Java
Enter your experience:  1
Enter native:  Chennai

Trios