In [3]:
t = [5, 6, 8, 10, 7, 17]
for s in t:
    print(s);

5
6
8
10
7
17

In [2]:
t = [5, 6, 8, 10, 7, 17]

i = 0
for num in t:
    if i == 0:   # first element
        minimum = num
        maximum = num
        second_min = num
        second_max = num
    else:
        # check min and second min
        if num < minimum:
            second_min = minimum
            minimum = num
        elif num < second_min and num != minimum:
            second_min = num

        # check max and second max
        if num > maximum:
            second_max = maximum
            maximum = num
        elif num > second_max and num != maximum:
            second_max = num
    i += 1

print("Minimum:", minimum)
print("Second Minimum:", second_min)
print("Maximum:", maximum)
print("Second Maximum:", second_max)

Minimum: 5
Second Minimum: 5
Maximum: 17
Second Maximum: 10

In [4]:
l = [2,4,5,6,7,1]
m = l[0]

for i in l:
    if m>i:
        m = i
print(m);
# ascending without sort --> swapping
# t[0] , t[1], t[-1],t[-2]
k = [4,5,1,3,2]

1