In [1]:
# Variables Declaration ,Illegal var
var-char = 4
print(var-char)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2904670931.py, line 2)

In [2]:
# Can't start with digit
2ni8 = 10 
print(2ni8)

SyntaxError: invalid decimal literal (2208294368.py, line 2)

In [3]:
# Reserved word not allowed --> Keywords
and = 8
print(and)

SyntaxError: invalid syntax (1847917259.py, line 2)

In [4]:
# Space not Allowed
Persons age = 23
print(Persons age)

SyntaxError: invalid syntax (2116635544.py, line 2)

In [5]:
#  special Chars not allowed
$money = 384839
print($money)

SyntaxError: invalid syntax (1118646649.py, line 2)

In [7]:
# Legal Variables
_myvar = 5
print(_myvar)

5

In [9]:
# Inbetween underscore
persons_age = 23
print(persons_age)

23

In [10]:
# Alphanumeric
num1 = 3
print(num1)

3

In [14]:
# Alpha only
name = "Jehap"
print(name)

Jehap

In [15]:
# Python is case sensitive
AGE = 45
print(AGE)

45