# for loops

In [1]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [14]:
fruits = [1,2,3]
for i in fruits:
    print(f"lit{i}")
    for j in fruits:
        print(i,j)

    #     for i in lines:
    # print(f"lit {i}")

lit1
1 1
1 2
1 3
lit2
2 1
2 2
2 3
lit3
3 1
3 2
3 3

In [15]:
a="banana"
for x in a:
  print(x)

b
a
n
a
n
a

In [16]:
l=[1,3,4,545,1,4,3]
for i in l:
    print(i)

1
3
4
545
1
4
3

In [17]:
for i in range(11):
  if i==5:
      continue
  print(i)

0
1
2
3
4
6
7
8
9
10

In [18]:
for x in range(2, 60):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [19]:
for x in range(2, 30, 3):
  print(x)
2,3,4,5,6,7,8,9,10
0,1,2,3,4,5,6,7,8

2
5
8
11
14
17
20
23
26
29

In [34]:
# for i in range(1,11): tables upto 10 
i = 3
# for i in range(3,4): #only 3 table
for j in range(1, 11):
    print(f"{i} x {j} = {i*j}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [30]:
i =3
j_val = [1,2,3,4,5,6,7,8,9,10]
for j in j_val:
        print(f"{i} x {j} = {i*j}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [28]:
for x in range(2, 30):
    pass

In [ ]:
k={1,3,5,8,98}
for i in k:
    if i %2==0:
        print(i,"even")
    else:
        print(i,"odd")

In [ ]:
for x in range(2, 30, 3):
  if x==8:
        break
  print(x)

In [37]:
for x in range(2, 30, 3):
    pass
matrix = [[1, 2], [3, 4], [5, 6]]
for i in matrix:
    print(i)
    for j in i:
        print(j)

# for row in matrix:
#     for value in row:
#         print(value)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

In [39]:
l={"k":1,"k2":3,"j1":7}
# for i in l.keys():
for i in l.values():
    print(i)

1
3
7

In [40]:
l=("hi",1,3,3,4,6,8,9,8,7,"apple",)
for i in l:
    print(i)

hi
1
3
3
4
6
8
9
8
7
apple

In [41]:
k=[1,3,45,6,889,90]
for i,j in enumerate(k):
    if i==3:
        print(j)

6

In [46]:
k=[1,3,45,6,889,90]

for i,j in k:
        print(i[j])

TypeError: cannot unpack non-iterable int object

# while loops

In [ ]:
i = 0

while i <=7:
    pass
    
print("hi")

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)