# 1.anagram

In [ ]:
def is_anagram(str1, str2):
    if count_chars(str1) == count_chars(str2):
        print(count_chars(str1),count_chars(str2))
        return True
    return False

def count_chars(s):
    d = {}
    for c in s:
        if c in d:
            d[c] += 1
        else:
            d[c] = 1
    print(d)
    return d


if is_anagram("silent","listen"):
    
    print("anagram")
else:
    print("not anagram")

# 2.Palindrome

In [ ]:
def is_Palindrome(str1):
    if str1==str1[::-1]:
        print("yes palindrome")
    else:
        print("not a panlindrome")
    

is_Palindrome("malayalam")

# 3.PRIME OR NOT A PRIME

In [ ]:
# k=int(input("enter the number"))
def is_prime(k):
    out=False
    if k<=1:
          print("not a prime number")
    else:
        for i in range(2,k):
            if k%i==0:
                print(k%i)
                out=True
                break
    
        if out:
            print("its not a prime")
        else:
            print("its  a prime")


k=int(input("enter the number"))
is_prime(k)

# 4.fibonacci series

In [7]:
def fibonacci_series(n):
    a=0
    b=1
    c=[]
    while a<=n:
        d=a+b
        c.append(a)
        a,b=b,d
    return c
fibonacci_series(10)

[0, 1, 1, 2, 3, 5, 8]

# 5.Maximum and Minimum Number

In [ ]:
f=[1,3,4,5,112,3,4,5]
max_num=f[0]
min_num=f[0]
for i in f:
    if i<max_num:
        max_num=i
    if i>min_num:
        min_num=i
print(min_num,"min_num")
print(max_num,"max_num")

# 6.ascending and descending

In [7]:
f=[1,3,4,5,11278,44,66,90,1]
for i in range(len(f)):
    for j in range(len(f)):
        if f[i]>f[j]:
            f[i],f[j]=f[j],f[i]
print(f)

[11278, 90, 66, 44, 5, 4, 3, 1, 1]

In [ ]:
f=[1,3,4,5,11278,44,66,90,1]
for i in range(len(f)):
     for j in range(len(f)):
         if f[i]>=f[j]:
             f[i],f[j]=f[j],f[i]
print(f)

In [ ]:
f=[1,3,4,5,11278,44,66,90,1]
for i in range(len(f)):
    for j in range(len(f)):
        if f[i]<f[j]:
            f[i],f[j]=f[j],f[i]
print(f)

# 7.2nd Largest and 2nd Smallest Number

In [ ]:
f=[1,3,4,5,11278,44,66,90]
for i in range(len(f)):
    for j in range(len(f)):
        # print(f)
        if f[i]<f[j]:
            # print(f[i],f[j],"=",f[j],f[i])
            f[i],f[j]=f[j],f[i]
print(f[1],"second smallest")
print(f[-2],"second largest")

# 8.Check Even or Odd

In [ ]:
def even_or_odd(n):
    if n % 2 == 0:
        return "Even"
    return "Odd"
even_or_odd(6)

# 9. Count the Frequency of Elements in a List

In [8]:

def frequent_elemnets(lst):
    D={}
    for i in lst:
        if i not in D:
            D[i]=1
        else:
            D[i]+=1
    return D

frequent_elemnets([1,3,4,5,1,2,3])

{1: 2, 3: 2, 4: 1, 5: 1, 2: 1}

## 10.Generate Multiplication Table

In [ ]:
def multiplication_table(n):
    i = 1
    while i <= 10:
        print(i, "x", n, "=", n * i)
        i += 1

# Sample
multiplication_table(5)

# 11.Remove Duplicates from List

In [ ]:
l=[1,23,2,1,23,22,1]

def remove_dupli(l):
    k=[]
    for i in l:
        if i not in k:
            k.append(i)
    return k


remove_dupli([1,23,2,1,23,22,1])

## 12.Check if List is Palindrome|

In [ ]:
l=["a", "b", "c", "b", "a"]
def is_list_palindrome(lst):
    length=0
    out=True
    for _ in l:
        length+=1
    for i  in range(length):
        length-=1
        if l[i]!=l[length]:
            out=False
            break
        else:
            out=True
    return out


is_list_palindrome(l)

### 13.Check Leap Year

In [ ]:
year = 2040

if (year%400 == 0) or (year%4==0 and year%100!=0):
    print("Leap Year")
else:
    print("Not a Leap Year")

In [ ]:
k="hello world"
d={}
for i in k:
    if i  in  d:
        d[i]+=1
    else:
         d[i]=1
        
d

In [4]:
a=int(input("enter your number"))

for i in range(1,a+1):
    for j in range(1,a+1):
        if i+j==a:
            print(i,j)

enter your number 23

1 22
2 21
3 20
4 19
5 18
6 17
7 16
8 15
9 14
10 13
11 12
12 11
13 10
14 9
15 8
16 7
17 6
18 5
19 4
20 3
21 2
22 1

In [2]:
k=10
for i in range(1,k+1):
    for j in range(1,k+1):
        if i+j==k:
            print(i,j)

1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2
9 1