In [7]:
l = ([[1],[2]])
print(l[0][0])

1

In [ ]:
# 5 -10 
# csv load --> data starting to end --> dynamic --> indexing user fix
# loc ,iloc, dataframe

In [13]:
import pandas
student={"name":["ram","ragul","krish"],
         "tamil":[90,80,67],
         "english":[22,44,69],
         "maths":[90,89,66]}
dataframe = pandas.DataFrame(student)
print(dataframe)

    name  tamil  english  maths
0    ram     90       22     90
1  ragul     80       44     89
2  krish     67       69     66
name       krish
tamil         67
english       69
maths         66
Name: 2, dtype: object

In [14]:
print(dataframe.loc[2])

name       krish
tamil         67
english       69
maths         66
Name: 2, dtype: object

In [15]:
print(dataframe.loc[[2]])

    name  tamil  english  maths
2  krish     67       69     66

In [1]:
def countDigit(n):

    # Base case
    if n == 0:
        return 1

    count = 0

    # Iterate till n has digits remaining
    while n != 0:

        # Remove rightmost digit
        n = n // 10

        # Increment digit count by 1
        count += 1

    return count


if __name__ == "__main__":
    n = 58964
    print(countDigit(n))

5